---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app unpackerr
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3

  values:
    controllers:
      unpackerr:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/unpackerr/unpackerr
              tag: 0.14.5@sha256:dc72256942ce50d1c8a1aeb5aa85b6ae2680a36eefd2182129d8d210fce78044
            env:
              TZ: ${TIMEZONE}
              UN_WEBSERVER_METRICS: true
              UN_WEBSERVER_LOG_FILE: /logs/webserver.log
              UN_ACTIVITY: true
              UN_SONARR_0_URL: http://sonarr.media.svc.cluster.local
              UN_SONARR_0_PATHS_0: /data/torrents/series
              UN_RADARR_0_URL: http://radarr-standard.media.svc.cluster.local
              UN_RADARR_0_PATHS_0: /data/torrents/movies
              UN_RADARR_1_URL: http://radarr-kids.media.svc.cluster.local
              UN_RADARR_1_PATHS_0: /data/torrents/kidsmovies
              UN_RADARR_2_URL: http://radarr-anime.media.svc.cluster.local
              UN_RADARR_2_PATHS_0: /data/torrents/animemovies
              # UN_LIDARR_0_URL: http://lidarr.media.svc.cluster.local
              # UN_LIDARR_0_PATHS_0: /data/torrents/music
              # UN_READARR_0_URL: http://readarr-books.media.svc.cluster.local
              # UN_READARR_0_PATHS_0: /data/torrents/books
              # UN_READARR_1_URL: http://readarr-audio.media.svc.cluster.local
              # UN_READARR_1_PATHS_0: /data/torrents/audiobooks
              UN_FOLDER_0_PATH: /data/torrents/sport
              UN_WEBHOOK_0_NAME: notifiarr
              UN_WEBHOOK_0_IGNORE_SSL: "false"
              UN_WEBHOOK_0_SILENT: "false"
              UN_WEBHOOK_0_EVENTS_0: 0
            envFrom:
              - secretRef:
                  name: unpackerr-secret
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 20m
                memory: 100Mi
              limits:
                memory: 4Gi

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch

    service:
      app:
        controller: *app
        ports:
          http:
            port: 5656

    serviceMonitor:
      app:
        serviceName: *app
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 1m
            scrapeTimeout: 10s

    persistence:
      logs:
        type: emptyDir

      data:
        type: nfs
        server: ${TRUENAS_IP}
        path: /mnt/rust/data/torrents
        globalMounts:
          - path: /data/torrents
