---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app mosquitto
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: mosquitto
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      mosquitto:
        type: statefulset
        containers:
          app:
            image:
              repository: public.ecr.aws/docker/library/eclipse-mosquitto
              tag: 2.0.22
            env:
              TZ: ${TIMEZONE}
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 100Mi
        statefulset:
          volumeClaimTemplates:
            - name: data
              storageClass: ceph-block
              accessMode: ReadWriteOnce
              size: 1Gi
              globalMounts:
                - path: /mosquitto/data
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: *app
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: ${MOSQUITTO_LB_IP}
        externalTrafficPolicy: Local
        ports:
          mqtt:
            port: 1883
    configMaps:
      config:
        data:
          mosquitto.conf: |
            allow_anonymous true
            autosave_interval 60
            connection_messages false
            listener 1883
            per_listener_settings false
            persistence true
            persistence_location /mosquitto/data
    persistence:
      config-file:
        type: configMap
        identifier: config
        globalMounts:
          - path: /mosquitto/config/mosquitto.conf
            subPath: mosquitto.conf
