---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: kometa-assets
  labels:
    kustomize.toolkit.fluxcd.io/ssa: IfNotPresent
spec:
  accessModes: ["ReadWriteOnce"]
  resources:
    requests:
      storage: 75Gi
  storageClassName: ceph-block
