apiVersion: v1
kind: Endpoints
metadata:
  name: external-homeassistant
subsets:
  - addresses:
      - ip: 192.168.20.42
    ports:
      - port: 8123
        name: http
---
apiVersion: v1
kind: Service
metadata:
  name: external-homeassistant
spec:
  ports:
    - port: 80
      targetPort: 8123
      name: http
  clusterIP: None
  type: ClusterIP
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/gateway.networking.k8s.io/httproute_v1.json
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: external-homeassistant
spec:
  hostnames:
    - "homeassistant.${SECRET_DOMAIN}"
  parentRefs:
    - name: envoy-external
      namespace: network
  rules:
    - backendRefs:
        - name: external-homeassistant
          port: 80
