---
apiVersion: cilium.io/v2
kind: CiliumNetworkPolicy
metadata:
  name: grafana-operator-egress-to-grafana
  namespace: observability
spec:
  endpointSelector:
    matchLabels:
      app.kubernetes.io/name: grafana-operator
  egress:
    - toEndpoints:
        - matchLabels:
            app: grafana
      toPorts:
        - ports:
            - port: "3000"
              protocol: TCP
---
apiVersion: cilium.io/v2
kind: CiliumNetworkPolicy
metadata:
  name: grafana-allow-operator-ingress
  namespace: observability
spec:
  endpointSelector:
    matchLabels:
      app: grafana
  ingress:
    - fromEndpoints:
        - matchLabels:
            app.kubernetes.io/name: grafana-operator
      toPorts:
        - ports:
            - port: "3000"
              protocol: TCP
