---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app qbittorrent
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn:
    - name: generic-device-plugin
      namespace: kube-system
    - name: openebs
      namespace: openebs-system
    - name: volsync
      namespace: volsync-system

  values:
    controllers:
      qbittorrent:
        replicas: 1
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            nameOverride: *app
            image:
              repository: ghcr.io/home-operations/qbittorrent
              tag: 5.1.4@sha256:25fc7caf22101f85276ede9b1f76a46b7a93971bb6b70b6c58d14d6ab7f51415
            env:
              UMASK: "022"
              QBT_WEBUI_PORT: &port 80
              QBT_TORRENTING_PORT: &BT-port 48531
            probes:
              startup:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/v2/app/version
                    port: *port
                  initialDelaySeconds: 10
                  periodSeconds: 10
                  failureThreshold: 60
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/v2/app/version
                    port: *port
                  periodSeconds: 10
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              runAsUser: 568
              runAsGroup: 568
              runAsNonRoot: true
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL

          # vuetorrent:
          #   dependsOn: app
          #   image:
          #     repository: registry.k8s.io/git-sync/git-sync
          #     tag: v4.4.2
          #   args:
          #     - --repo=https://github.com/WDaan/VueTorrent
          #     - --ref=latest-release
          #     - --period=86400s
          #     - --root=/addons
          #   resources:
          #     requests:
          #       cpu: 10m
          #       memory: 25Mi

        initContainers:
          gluetun:
            image:
              repository: ghcr.io/qdm12/gluetun
              tag: v3.41.0
            env:
              DNS_ADDRESS: "10.96.0.10"
              DOT: "off"
              FIREWALL_INPUT_PORTS: 80,8388,9999
              FIREWALL_OUTBOUND_SUBNETS: 10.69.0.0/16,10.96.0.0/16
              FIREWALL_VPN_INPUT_PORTS: *BT-port
              HEALTH_SERVER_ADDRESS: :9999
              HEALTH_TARGET_ADDRESS: airvpn.org
              VPN_TYPE: wireguard
              VPN_INTERFACE: tun0
              VPN_SERVICE_PROVIDER: airvpn
              WIREGUARD_MTU: 3418
              SERVER_COUNTRIES: Sweden
            envFrom:
              - secretRef:
                  name: qbittorrent-secret
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: 9999
                  timeoutSeconds: 10
                  periodSeconds: 30
                  failureThreshold: 5
              startup:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: 9999
                  initialDelaySeconds: 10
                  periodSeconds: 10
                  failureThreshold: 5
            restartPolicy: Always
            securityContext:
              capabilities:
                add:
                  - NET_ADMIN
              allowPrivilegeEscalation: false
            lifecycle:
              postStart:
                exec:
                  command:
                    [
                      "/bin/sh",
                      "-c",
                      "(ip rule del table 51820; ip -6 rule del table 51820) || true",
                    ]
            resources:
              limits:
                kernel.org/tun: 1

          # TODO: Replace once gluetun supports socks5, nothing supports shadowsocks
          socks5:
            restartPolicy: Always
            image:
              repository: serjs/go-socks5-proxy
              tag: latest@sha256:0af522996f402c03ecd985a87997158eabeb28935365e3a384df37eafcf740ea
            env:
              PROXY_PORT: &proxy-port 8388
              REQUIRE_AUTH: "false"

    defaultPodOptions:
      securityContext:
        fsGroup: 568
        fsGroupChangePolicy: "OnRootMismatch"
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: node-role.kubernetes.io/low-memory
                    operator: DoesNotExist

    service:
      app:
        forceRename: *app
        controller: *app
        ports:
          http:
            port: *port

      gluetun:
        suffix: gluetun
        controller: *app
        ports:
          socks-proxy:
            enabled: true
            port: *proxy-port

    ingress:
      app:
        annotations:
          external-dns.alpha.kubernetes.io/target: "external.${SECRET_DOMAIN}"
          nginx.ingress.kubernetes.io/auth-method: GET
          nginx.ingress.kubernetes.io/auth-url: "http://authelia.default.svc.cluster.local/api/verify"
          nginx.ingress.kubernetes.io/auth-signin: "https://auth.${SECRET_DOMAIN}/?rm=$request_method"
          nginx.ingress.kubernetes.io/auth-response-headers: Remote-User,Remote-Name,Remote-Groups,Remote-Email
          nginx.ingress.kubernetes.io/auth-snippet: proxy_set_header X-Forwarded-Method $request_method;
        className: external
        hosts:
          - host: "qbit.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http

    persistence:
      config:
        existingClaim: *app
        advancedMounts:
          qbittorrent:
            app:
              - path: /config

      media:
        type: nfs
        server: ${TRUENAS_IP}
        path: /mnt/rust/data/torrents
        globalMounts:
          - path: /data/torrents

      addons:
        existingClaim: qbittorrent-addons
