---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app unifi-controller
  namespace: network
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 3.7.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  dependsOn:
    - name: volsync
      namespace: volsync-system
  uninstall:
    keepHistory: false

  values:
    controllers:
      main:
        containers:
          main:
            image:
              repository: jacobalberty/unifi
              tag: v9.0.114@sha256:d5c9f87e643854bec4d0c15f6cbeec75510a449a7ec46f1e223eded858add480
            env:
              TZ: ${TIMEZONE}
              RUNAS_UID0: "false"
              UNIFI_UID: "999"
              UNIFI_GID: "999"
              UNIFI_STDOUT: "true"
              JVM_INIT_HEAP_SIZE: 1024M
              JVM_MAX_HEAP_SIZE: 2048M
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
        pod:
          securityContext:
            runAsUser: 999
            runAsGroup: 999
            fsGroup: 999
            fsGroupChangePolicy: OnRootMismatch

    service:
      app:
        controller: main
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: "${UNIFI_IP}"
        ports:
          http:
            protocol: HTTPS
            port: 8443
          unifi-stun:
            port: 3478
            protocol: UDP
          unifi-discovery:
            port: 10001
            protocol: UDP
          unifi-device-discovery:
            port: 1900
            protocol: UDP
          unifi-device-comms:
            port: 8080
            protocol: TCP
          unifi-guest-portal:
            port: 8880
            protocol: TCP
          unifi-guest-portal-https:
            port: 8843
            protocol: TCP
          unifi-mobile-throughput:
            port: 6789
            protocol: TCP
          unifi-syslog:
            port: 5514
            protocol: UDP

    ingress:
      app:
        className: external
        annotations:
          # nginx.ingress.kubernetes.io/whitelist-source-range: ${WL_SOURCE_RANGE}
          external-dns.alpha.kubernetes.io/target: "external.${SECRET_DOMAIN}"
          nginx.ingress.kubernetes.io/auth-method: GET
          nginx.ingress.kubernetes.io/auth-url: "https://auth.${SECRET_DOMAIN}/api/verify"
          nginx.ingress.kubernetes.io/auth-signin: "https://auth.${SECRET_DOMAIN}/?rm=$request_method"
          nginx.ingress.kubernetes.io/auth-response-headers: Remote-User,Remote-Name,Remote-Groups,Remote-Email
          nginx.ingress.kubernetes.io/auth-snippet: proxy_set_header X-Forwarded-Method $request_method;
          nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
        hosts:
          - host: "{{ .Release.Name }}.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http

    persistence:
      config:
        existingClaim: *app
        globalMounts:
          - path: /unifi/data
            readOnly: false

      log:
        type: emptyDir
        globalMounts:
          - path: /unifi
