---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app unifi-controller
spec:
  interval: 15m
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
    timeout: 15m
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
    timeout: 15m
  uninstall:
    keepHistory: false

  values:
    controllers:
      main:
        containers:
          main:
            image:
              repository: jacobalberty/unifi
              tag: v10.0.162
            env:
              TZ: ${TIMEZONE}
              RUNAS_UID0: "false"
              UNIFI_UID: "999"
              UNIFI_GID: "999"
              UNIFI_STDOUT: "true"
              JVM_INIT_HEAP_SIZE: 1024M
              JVM_MAX_HEAP_SIZE: 2048M
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
        pod:
          securityContext:
            runAsUser: 999
            runAsGroup: 999
            fsGroup: 999
            fsGroupChangePolicy: OnRootMismatch

    service:
      app:
        controller: main
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: "${UNIFI_IP}"
        ports:
          http:
            protocol: HTTPS
            port: 8443
          unifi-stun:
            port: 3478
            protocol: UDP
          unifi-discovery:
            port: 10001
            protocol: UDP
          unifi-device-discovery:
            port: 1900
            protocol: UDP
          unifi-device-comms:
            port: 8080
            protocol: TCP
          unifi-guest-portal:
            port: 8880
            protocol: TCP
          unifi-guest-portal-https:
            port: 8843
            protocol: TCP
          unifi-mobile-throughput:
            port: 6789
            protocol: TCP
          unifi-syslog:
            port: 5514
            protocol: UDP

    route:
      app:
        labels:
          auth.home.arpa/enabled: "true"
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https

    persistence:
      config:
        existingClaim: *app
        globalMounts:
          - path: /unifi/data
            readOnly: false

      log:
        type: emptyDir
        globalMounts:
          - path: /unifi
