---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: daps
  namespace: media
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: plex
      namespace: media
    - name: volsync
      namespace: volsync-system
  values:
    controllers:
      daps:
        type: &type cronjob
        cronjob: &cronjob
          schedule: "05 1,7,10,14 * * *"
          timeZone: &timeZone ${TIMEZONE}
          successfulJobsHistory: 1
          failedJobsHistory: 1
        containers:
          app: &container_app
            image:
              repository: ghcr.io/drazzilb08/daps
              tag: v1.2.4@sha256:8a9b8d51a5c6a89d7fd3a1b66ba3782ab354ed7ba7cd31dc39d7e635acc7b553
            command:
              - /bin/sh
              - -c
            args:
              - |
                export RCLONE_CONFIG="/config/rclone.conf"
                python3 /app/main.py poster_renamerr
                python3 /app/main.py health_checkarr
            env:
              TZ: *timeZone
              PUID: 568
              PGID: 568
            resources:
              requests:
                cpu: 10m
                memory: 150Mi
              # limits:
              #   memory: 5Gi

      unmatched-assets:
        type: *type
        cronjob:
          <<: *cronjob
          schedule: "15 9 * * *"
        containers:
          app:
            <<: *container_app
            args:
              - |
                export RCLONE_CONFIG="/config/rclone.conf"
                python3 /app/main.py unmatched_assets

      upgradinatorr:
        type: *type
        cronjob:
          <<: *cronjob
          schedule: "30 */3 * * *"
        containers:
          app:
            <<: *container_app
            args:
              - |
                export RCLONE_CONFIG="/config/rclone.conf"
                python3 /app/main.py upgradinatorr

      renameinatorr:
        type: *type
        cronjob:
          <<: *cronjob
          schedule: "5 1 */7 * *"
        containers:
          app:
            <<: *container_app
            args:
              - |
                python3 /app/main.py renameinatorr

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: Always

    persistence:
      config:
        type: emptyDir
        medium: Memory
        globalMounts:
          - path: /config

      posters:
        type: nfs
        server: ${TRUENAS_IP}
        path: /mnt/rust/posters
        globalMounts:
          - path: /posters
            readOnly: false

      assets:
        type: persistentVolumeClaim
        existingClaim: kometa-assets
        globalMounts:
          - path: /config/assets

      config-file:
        type: secret
        name: daps-secret
        globalMounts:
          - path: /config/config.yml
            subPath: config.yaml
            readOnly: true

      # sa-file:
      #   type: secret
      #   name: daps-sa-secret
      #   globalMounts:
      #     - path: /config/sa.json
      #       subPath: sa.json
      #       readOnly: true

      process:
        type: emptyDir
        medium: Memory
        globalMounts:
          - path: /config/process
