version: v1alpha1
debug: false
persist: true
machine:
  type: controlplane
  token: op://talos/talos/MACHINE_TOKEN
  ca:
    crt: op://talos/talos/MACHINE_CA_CRT
    key: op://talos/talos/MACHINE_CA_KEY
  certSANs:
    - 192.168.10.80
    - 127.0.0.1
  kubelet:
    image: ghcr.io/siderolabs/kubelet:{{ ENV.KUBERNETES_VERSION }}
    extraArgs:
      rotate-server-certificates: "true"
    extraConfig:
      maxPods: 150
      serializeImagePulls: false
    extraMounts:
      - destination: /var/openebs/local
        type: bind
        source: /var/openebs/local
        options:
          - bind
          - rshared
          - rw
    defaultRuntimeSeccompProfileEnabled: true
    nodeIP:
      validSubnets:
        - 192.168.10.0/24
    disableManifestsDirectory: true
  kernel:
    modules:
      - name: zfs
  network:
    hostname: control-1
    interfaces:
      - deviceSelector:
          hardwareAddr: ac:1f:6b:2d:f2:94
        addresses:
          - 192.168.10.76/24
        routes:
          - network: 0.0.0.0/0
            gateway: 192.168.10.1
        mtu: 9000
        dhcp: false
        vip:
          ip: 192.168.10.80
    nameservers:
        - 1.1.1.1
        - 1.0.0.1
    disableSearchDomain: true
  install:
    disk: /dev/sda
    image: factory.talos.dev/installer/8de8ff0564a256e9c3ccc261be0bfc4b910c3725b40b3d09fe5d74ef80eb6650:{{ ENV.TALOS_VERSION }}
    wipe: false
    extraKernelArgs:
      - talos.platform=metal
      - i915.enable_guc=3
      - apparmor=0
      - init_on_alloc=0
      - init_on_free=0
      - intel_iommu=on
      - iommu=pt
      - mitigations=off
      - security=none
      - sysctl.kernel.kexec_load_disabled=1
      - talos.auditd.disabled=1
  files:
    - op: create
      path: /etc/cri/conf.d/20-customization.part
      content: |
        [plugins."io.containerd.cri.v1.images"]
        discard_unpacked_layers = false
    - op: overwrite
      permissions: 420
      path: /etc/nfsmount.conf
      content: |
        [ NFSMount_Global_Options ]
        nfsvers=4.2
        hard=True
        nconnect=16
        noatime=True
  sysctls:
    fs.inotify.max_queued_events: "65536"
    fs.inotify.max_user_instances: "8192"
    fs.inotify.max_user_watches: "1048576"
    net.core.bpf_jit_harden: "1"
    net.core.default_qdisc: fq
    net.core.rmem_max: "67108864"
    net.core.wmem_max: "67108864"
    net.core.rmem_default: "67108864"
    net.core.wmem_default: "67108864"
    net.core.optmem_max: "67108864"
    net.core.netdev_max_backlog: "250000"
    net.ipv4.tcp_timestamps: "0"
    net.ipv4.tcp_congestion_control: bbr
    net.ipv4.tcp_fastopen: 3
    net.ipv4.tcp_max_syn_backlog: "8192"
    net.ipv4.tcp_rmem: 4096 262144 67108864
    net.ipv4.tcp_wmem: 4096 262144 67108864
    net.ipv4.tcp_mtu_probing: "1"
    user.max_user_namespaces: "11255"
    vm.nr_hugepages: "3072"
  sysfs:
    module.zfs.parameters.zfs_arc_max: 33552457142
    module.zfs.parameters.zfs_arc_sys_free: 15098820000
    devices.system.cpu.intel_pstate.hwp_dynamic_boost: 1
    devices.system.cpu.cpu0.cpufreq.energy_performance_preference: balance_performance
    devices.system.cpu.cpu1.cpufreq.energy_performance_preference: balance_performance
    devices.system.cpu.cpu2.cpufreq.energy_performance_preference: balance_performance
    devices.system.cpu.cpu3.cpufreq.energy_performance_preference: balance_performance
    devices.system.cpu.cpu4.cpufreq.energy_performance_preference: balance_performance
    devices.system.cpu.cpu5.cpufreq.energy_performance_preference: balance_performance
    devices.system.cpu.cpu6.cpufreq.energy_performance_preference: balance_performance
    devices.system.cpu.cpu7.cpufreq.energy_performance_preference: balance_performance
    devices.system.cpu.cpu8.cpufreq.energy_performance_preference: balance_performance
    devices.system.cpu.cpu9.cpufreq.energy_performance_preference: balance_performance
    devices.system.cpu.cpu10.cpufreq.energy_performance_preference: balance_performance
    devices.system.cpu.cpu11.cpufreq.energy_performance_preference: balance_performance
  features:
    rbac: true
    stableHostname: true
    kubernetesTalosAPIAccess:
      enabled: true
      allowedRoles:
        - os:admin
      allowedKubernetesNamespaces:
        - kube-system
        - actions-runner-system
    apidCheckExtKeyUsage: true
    diskQuotaSupport: true
    kubePrism:
      enabled: true
      port: 7445
    hostDNS:
      enabled: true
      forwardKubeDNSToHost: false
      resolveMemberNames: true
  udev:
    rules:
      - SUBSYSTEM=="drm", KERNEL=="renderD*", GROUP="44", MODE="0660"
  nodeLabels:
    intel.feature.node.kubernetes.io/gpu: "true"
cluster:
  id: op://talos/talos/CLUSTER_ID
  secret: op://talos/talos/CLUSTER_SECRET
  controlPlane:
    endpoint: https://192.168.10.80:6443
  clusterName: main
  network:
    cni:
      name: none
    dnsDomain: cluster.local
    podSubnets:
      - 10.69.0.0/16
    serviceSubnets:
      - 10.96.0.0/16
  token: op://talos/talos/CLUSTER_TOKEN
  secretboxEncryptionSecret: op://talos/talos/CLUSTER_SECRETBOXENCRYPTIONSECRET
  ca:
    crt: op://talos/talos/CLUSTER_CA_CRT
    key: op://talos/talos/CLUSTER_CA_KEY
  aggregatorCA:
    crt: op://talos/talos/CLUSTER_AGGREGATORCA_CRT
    key: op://talos/talos/CLUSTER_AGGREGATORCA_KEY
  serviceAccount:
    key: op://talos/talos/CLUSTER_SERVICEACCOUNT_KEY
  apiServer:
    image: registry.k8s.io/kube-apiserver:{{ ENV.KUBERNETES_VERSION }}

    certSANs:
      - 192.168.10.80
      - 127.0.0.1
    disablePodSecurityPolicy: true
    auditPolicy:
      apiVersion: audit.k8s.io/v1
      kind: Policy
      rules:
        - level: Metadata
  controllerManager:
    image: registry.k8s.io/kube-controller-manager:{{ ENV.KUBERNETES_VERSION }}
    extraArgs:
      bind-address: 0.0.0.0
  proxy:
    disabled: true
  scheduler:
    image: registry.k8s.io/kube-scheduler:{{ ENV.KUBERNETES_VERSION }}
    extraArgs:
      bind-address: 0.0.0.0
  discovery:
    enabled: true
    registries:
      kubernetes:
        disabled: true
      service:
        disabled: false
  etcd:
    ca:
      crt: op://talos/talos/CLUSTER_ETCD_CA_CRT
      key: op://talos/talos/CLUSTER_ETCD_CA_KEY
    extraArgs:
      listen-metrics-urls: http://0.0.0.0:2381
    advertisedSubnets:
      - 192.168.10.0/24
  coreDNS:
    disabled: true
  allowSchedulingOnControlPlanes: true
