---
apiVersion: resource.k8s.io/v1
kind: ResourceClaimTemplate
metadata:
  name: "${APP}"
spec:
  spec:
    devices:
      requests:
        - name: gpu
          exactly:
            deviceClassName: gpu.intel.com
          selectors:
            - cel:
                expression: "${GPU_SELECTOR:-true}"
