---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app playbook
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3

  values:
    serviceAccount:
      playbook: {}

    controllers:
      main:
        serviceAccount:
          identifier: playbook
        type: deployment
        containers:
          app:
            image:
              repository: ghcr.io/s0len/playbook
              tag: develop@sha256:eca3d84f540da89260887e11433d06595fe707656ca8eba6302cc5991f06cd26
              pullPolicy: Always
            env:
              CACHE_DIR: /settings/cache
              CLEAR_PROCESSED_CACHE: false
              CONFIG_PATH: /config/config.yaml
              DRY_RUN: false
              DESTINATION_DIR: /data/media/sport
              LOG_DIR: /tmp
              LOG_LEVEL: INFO
              PROCESS_INTERVAL: 0
              RUN_ONCE: false
              SOURCE_DIR: /data/torrents/sport
            envFrom:
              - secretRef:
                  name: playbook-secret
            securityContext:
              privileged: false
        annotations:
          reloader.stakater.com/auto: "true"

    defaultPodOptions:
      automountServiceAccountToken: true
      enableServiceLinks: false
      securityContext:
        runAsUser: 568
        runAsGroup: 568
        runAsNonRoot: true
        fsGroup: 568

    persistence:
      settings:
        existingClaim: playbook-settings
        globalMounts:
          - path: /settings
            readOnly: false

      tmp:
        type: emptyDir
        medium: Memory
        globalMounts:
          - path: /tmp

      data:
        type: nfs
        server: "${TRUENAS_IP}"
        path: /mnt/rust/data
        globalMounts:
          - path: /data
            readOnly: false

      config:
        type: configMap
        name: playbook-configmap
        globalMounts:
          - path: /config/config.yaml
            subPath: config.yaml
            readOnly: true
