---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./externalsecret.yaml
  - ./helmrelease.yaml
  - ./pvc.yaml
  - ./rbac.yaml
configMapGenerator:
  - name: playbook-configmap
    files:
      - ./config/config.yaml
generatorOptions:
  disableNameSuffixHash: true
