---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app plex-trakt-sync
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: plex
      namespace: media
    - name: openebs
      namespace: openebs-system
    - name: volsync
      namespace: volsync-system

  values:
    controllers:
      plex-trakt-sync:
        annotations:
          reloader.stakater.com/auto: "true"

        pod:
          securityContext:
            runAsUser: 568
            runAsGroup: 568
            fsGroup: 568
            fsGroupChangePolicy: "OnRootMismatch"

        containers:
          app:
            image:
              repository: ghcr.io/taxel/plextraktsync
              tag: 0.34.20
            args:
              - watch
            # Below commands are only used for first time setup
            # command:
            #   - sleep
            #   - infinity
            env:
              PLEX_BASEURL: http://${PLEX_IP}:32400
              PLEX_LOCALURL: http://${PLEX_IP}:32400
              PLEX_USERNAME: zooLen
              TRAKT_USERNAME: Solentankar
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
            resources:
              requests:
                cpu: 5m
                memory: 128M

    persistence:
      config:
        existingClaim: *app
        enabled: true
        advancedMounts:
          plex-trakt-sync:
            app:
              - path: /app/config
      config-yaml:
        type: configMap
        name: plex-tract-sync-configmap
        globalMounts:
          - path: /app/config/config.yml
            subPath: config.yml
            readOnly: true
