---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app sports-organizer
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3

  values:
    controllers:
      main:
        type: deployment
        containers:
          app:
            image:
              repository: ghcr.io/s0len/sports-organizer
              tag: develop@sha256:77de0ae4d9dd6c7b35ee92861541c1057ad82df06f4f42ea13b1245d0d222de4
              pullPolicy: Always
            env:
              RUN_ONCE: true
              VERBOSE: true
              CONFIG_FILE: /config/sports.yaml
              SRC_DIR: /data/torrents/sport
              DEST_DIR: /data/media/sport
              PROCESS_INTERVAL: 60
              PUSHOVER_NOTIFICATION: true
              SPORTS_ORGANIZER_CACHE: /cache
            envFrom:
              - secretRef:
                  name: sports-organizer-secret
            securityContext:
              privileged: false
        annotations:
          reloader.stakater.com/auto: "true"

    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        runAsUser: 568
        runAsGroup: 568
        runAsNonRoot: true
        fsGroup: 568

    persistence:
      data:
        type: nfs
        server: "${TRUENAS_IP}"
        path: /mnt/rust/data
        globalMounts:
          - path: /data
            readOnly: false

      tmp:
        type: emptyDir
        medium: Memory

      cache:
        type: emptyDir
        globalMounts:
          - path: /cache

      config:
        type: configMap
        name: sports-organizer-configmap
        globalMounts:
          - path: /config/sports.yaml
            subPath: sports.yaml
            readOnly: true
