---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app sports-organizer
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3

  values:
    controllers:
      main:
        type: deployment
        containers:
          app:
            image:
              repository: ghcr.io/s0len/sports-organizer
              tag: develop@sha256:a0fea0bf3f65c96c42a291eddcd402bf38d4bcd6523d2494d3776ed3e63381ec
              pullPolicy: Always
            env:
              RUN_ONCE: true
              LOG_LEVEL: INFO
              CONFIG_PATH: /config/sports.yaml
              CACHE_DIR: /settings/cache
              LOG_DIR: /settings/logs
              SOURCE_DIR: /data/torrents/sport
              DESTINATION_DIR: /data/media/sport
              PROCESS_INTERVAL: 60
            envFrom:
              - secretRef:
                  name: sports-organizer-secret
            securityContext:
              privileged: false
        annotations:
          reloader.stakater.com/auto: "true"

    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        runAsUser: 568
        runAsGroup: 568
        runAsNonRoot: true
        fsGroup: 568

    persistence:
      settings:
        existingClaim: sports-organizer-settings
        globalMounts:
          - path: /settings
            readOnly: false

      data:
        type: nfs
        server: "${TRUENAS_IP}"
        path: /mnt/rust/data
        globalMounts:
          - path: /data
            readOnly: false

      tmp:
        type: emptyDir
        medium: Memory

      config:
        type: configMap
        name: sports-organizer-configmap
        globalMounts:
          - path: /config/sports.yaml
            subPath: sports.yaml
            readOnly: true
