---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app seasonpackarr
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3

  values:
    controllers:
      seasonpackarr:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/nuxencs/seasonpackarr
              tag: v0.14.0@sha256:b8e759b3fb3c9587aafbb5ebcf4a5527245afd35b5893439fd21aea0283c8144
            env:
              TZ: ${TIMEZONE}
              SEASONPACKARR__DISABLE_CONFIG_FILE: true
              SEASONPACKARR__PORT: &port 80
              SEASONPACKARR__LOG_LEVEL: INFO
              SEASONPACKARR__SMART_MODE: true
              SEASONPACKARR__SMART_MODE_THRESHOLD: 0.75
              SEASONPACKARR__PARSE_TORRENT_FILE: true
              SEASONPACKARR__FUZZY_MATCHING_SKIP_REPACK_COMPARE: true
              SEASONPACKARR__CLIENTS_DEFAULT_HOST: qbittorrent.media.svc.cluster.local
              SEASONPACKARR__CLIENTS_DEFAULT_PORT: 80
              SEASONPACKARR__CLIENTS_DEFAULT_PREIMPORTPATH: /data/torrents/series

            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
              runAsNonRoot: true
              runAsUser: 568
              runAsGroup: 568
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 256Mi

    service:
      app:
        controller: *app
        ports:
          http:
            port: *port

    persistence:
      media:
        type: nfs
        server: ${TRUENAS_IP}
        path: /mnt/rust/data/torrents
        globalMounts:
          - path: /data/torrents

      tmp:
        type: emptyDir
