---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app unifi-controller
  namespace: &namespace network
spec:
  targetNamespace: *namespace
  dependsOn:
    - name: onepassword
      namespace: external-secrets
    - name: volsync
      namespace: volsync-system
  path: ./kubernetes/apps/network/unifi-controller/app
  prune: true
  retryInterval: 2m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: false
  interval: 30m
  timeout: 5m
  postBuild:
    substitute:
      APP: *app
      GATUS_SUBDOMAIN: unifi-controller
      VOLSYNC_CAPACITY: 10Gi
      VOLSYNC_STORAGECLASS: ceph-block
      VOLSYNC_SNAPSHOTCLASS: csi-ceph-blockpool
