---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app hortusfox-web
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: openebs
      namespace: openebs-system
    - name: volsync
      namespace: volsync-system

  values:
    controllers:
      hortusfox-web:
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: ghcr.io/danielbrendel/hortusfox-web
              tag: v5.7
            env:
              TZ: ${TIMEZONE}
              DB_DRIVER: mysql
              DB_HOST: localhost
              DB_PORT: "3306"
              DB_DATABASE: hortusfox
              DB_USERNAME: hortusfox
              DB_CHARSET: utf8mb4
            envFrom:
              - secretRef:
                  name: hortusfox-secret
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /ping
                    port: &port 80
                  initialDelaySeconds: 30
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 100m
                memory: 256Mi
              limits:
                memory: 1Gi

          mariadb:
            image:
              repository: mariadb
              tag: "11.4"
            env:
              MARIADB_DATABASE: hortusfox
              MARIADB_USER: hortusfox
              MARIADB_RANDOM_ROOT_PASSWORD: "true"
            envFrom:
              - secretRef:
                  name: hortusfox-secret
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  exec:
                    command:
                      - healthcheck.sh
                      - --connect
                      - --innodb_initialized
                  initialDelaySeconds: 30
                  periodSeconds: 10
                  failureThreshold: 3
              readiness:
                enabled: true
                custom: true
                spec:
                  exec:
                    command:
                      - healthcheck.sh
                      - --connect
                      - --innodb_initialized
                  initialDelaySeconds: 5
                  periodSeconds: 5

    defaultPodOptions:
      securityContext:
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch

    service:
      app:
        controller: *app
        ports:
          http:
            port: *port

    route:
      app:
        hostnames:
          - "plants.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https

    persistence:
      config:
        existingClaim: *app
        globalMounts:
          - path: /var/www/html/app/storage
      mariadb-data:
        existingClaim: hortusfox-web-mariadb
        advancedMounts:
          hortusfox-web:
            mariadb:
              - path: /var/lib/mysql
