---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: hortusfox-web-mariadb
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
  storageClassName: openebs-hostpath
