---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: hortusfox-web
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: openebs-hostpath
