---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: network
components:
  - ../../components/common
resources:
  - ./cloudflared/ks.yaml
  - ./cloudflare-ddns/ks.yaml
  - ./echo-server/ks.yaml
  - ./envoy-gateway/ks.yaml
  - ./external-dns/ks.yaml
  - ./external-service/ks.yaml
  # - ./fio/ks.yaml
  # - ./iperf/ks.yaml
  # - ./k8s-gateway/ks.yaml  # Removed: using unifi-dns instead
  - ./unifi-controller/ks.yaml
  - ./unifi-dns/ks.yaml
